<%= form_for([@article, @article.comments.build]) do |c| %>
	<p> 
		<%= c.label 'Username' %>				<br>
		<%= c.text_field :commenter %>
	</p>
	<p>
		<%= c.label :body %><br>
		<%= c.text_area :body %>
	</p>
	<p>
		<%= c.submit %>
	</p>
<% end %>